<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <style>
    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    html , body{
        height: 100%;
        width: 100%;
    }

    h1,p{
      text-align: center;
    }

    h1{
      margin-top: 25vw;
    }
  </style>
</head>
<body>
  <h1>This is from EJS</h1>

   <!-- delimeter -->

   <!-- escaped o/p -->
  <p> <%= message %> </p>

   <!-- scriplet(logic) -->
  <% for(let i=0; i<3; i++) {%>
   <p>Item : <%= i+1 %></p>
  <% }%>

</body>
</html>